/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.home2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 550px;
  background-color: white;
}

.home2-upper {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.home2-upper-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 65%;
  justify-content: center;
}

.home2-upper-left-text1 {
  width: 80%;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  display: block;
  align-items: center;
  text-align: justify;
  color: #000;
}
.home2-upper-left-text3 {
  width: 80%;
  color: #1b8639;
  font-weight: 400;
  font-size: 16px;
  line-height: 48px;
  height: 49px;
  margin-top: 30px;
}

.home2-upper-right {
  display: flex;
  width: 35%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.home2-upper-right {
  width: 301px;
  height: 301px;
  border: 1px solid #ce9a3c;
  border-radius: 5px;
  position: relative;
  margin-bottom: 100px;
}
.heading-1 {
  width: 120px;
  height: 36px;
  display: flex;
  color: #000;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-left: 100px;
  margin-top: 30px;
}
.line-1 {
  border: none;
  border-top: 2px solid #000;
  padding: 0 10px;
  width: 82px;
  height: 3px;
  margin-left: 100px;
}
.logo-img {
  width: 348px;
  height: 270px;
}
.subheading0 {
  color: #177c34;
}


@media (min-width: 721px) and (max-width: 1169px) {
  .heading {
    margin-left: 20px;
  
  }

  .line-1 {
    margin-left: 100px;
    margin-bottom:10px;
  }

  .home2-upper-left-text1 {
    width: 100%;
    margin-bottom: 20px;
    margin-top:10px;
    line-height: 50px;
  }
  .home2-upper-left {
    margin-right: 30px; 
  }
  .subheading0 {  
    line-height: 50px;
  }
 
}


@media (max-width: 720px) {
  .home2 {
    height: auto;
  }
  .home2-upper {
    flex-direction: column;
  }
  .home2-upper-left {
    width: 100%;
    padding: 50px;
  }
  .home2-upper-right {
    width: 100%;
    padding: 50px;
  }
  .home2-upper-left-buttons {
    display: flex;
    flex-direction: column;
  }
  .home2-left {
    width: 100%;
  }
  .home2-right {
    width: 100%;
  }

  .home2-upper-left-text1 {
    text-align: left;
    width: 100%;
    line-height: 50px;
  }
  .home2-upper-left-text2 {
    width: 100%;
  }
  .subheading0 {  
    line-height: 50px;
  }
}
@media (max-width: 500px) {
  .home2-upper {
    padding: 20px 0px;
  }
  .home2-upper-left-text2 {
    text-align: justify;
  }
  .home2-upper-right {
    padding: 50px;
  }
  .home2-upper-left {
    padding: 50px 25px;
  }
  .home2-upper-left-text1 {
    font-size: 35px;
    line-height: 50px;
  }
  .subheading0 {
    line-height: 50px;
  }
}

@media (max-width: 375px) {
  .home2-upper {
    padding: 20px 0px;
  }
  .home2-upper-left-text2 {
    text-align: justify;
  }
  .home2-upper-right {
    padding: 50px;
  }
  .home2-upper-left {
    padding: 50px 25px;
  }
  .home2-upper-left-text1 {
    font-size: 35px;
    line-height: 50px;
  }
  .subheading0 {
    line-height: 50px;
  }
} */

/*================================================
Services CSS
=================================================*/
.home2-upper-right {
  /* width: 301px; */
  height: 301px;
  border: 1px solid #ce9a3c;
  border-radius: 5px;
  position: relative;
  margin-bottom: 100px;
}

.home2-upper-right::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../../assets/images/logo.png") center/contain no-repeat;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
.logo-img {
  width: 348px;
  height: 270px;
}
.section-title h2 {
  margin-bottom: 0;
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 600;
  margin-top: 30px;
}
.section-title p {
  max-width: 520px;
  margin: 0 auto;
  line-height: 1.9;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  color:#6084a4;
}

.section-title .bar {
  height: 3px;
  width: 90px;
  background: gray;
  margin: 20px auto;
  position: relative;
  border-radius: 30px;
}

.services-content .section-title .bar {
  margin-left: 0;
  margin-right: 0;
}

.services-area {
  overflow: hidden;
}

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.services-right-image  {
  top: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.services-content .section-title {
  text-align: start;
  margin-bottom: 20px;
}

.services-content .section-title .bar {
  margin-left: 0;
  margin-right: 0;
}

.services-content .section-title p {
  margin: 0;
}

.services-content .row {
  margin-left: -8px;
  margin-right: -8px;
}

.services-content .row .col-lg-6 {
  padding-left: 8px;
  padding-right: 8px;
}

.services-content .box {
  position: relative;
  z-index: 1;
  display: block;
  padding: 15px 12px;
  color: #6084a4;
  font-weight: 500;
  border-radius: 3px;
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  margin-top: 20px;
}

.services-content .box::before {
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #1a80ce 0%, #1f5e8e 100%);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-content .box svg {
  margin-right: 5px;
  display: inline-block;
  color: #1a80ce;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 18px;
}

.services-content .box:hover {
  color: #ffffff;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.services-content .box:hover::before {
  opacity: 1;
  visibility: visible;
}

.services-content .box:hover svg {
  color: #ffffff;
}

.services-right-image {
  position: relative;
}

.services-right-image img {
  position: absolute;
}

.services-right-image img:nth-child(1) {
  left: 22%;
  top: -85px;
  z-index: 1;
}

.services-right-image img:nth-child(2) {
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  top: -52px;
}

.services-right-image img:nth-child(3) {
  left: 44%;
  top: -33px;
  z-index: 1;
}

.services-right-image img:nth-child(4) {
  right: 38%;
  z-index: 1;
  top: -220px;
}

.services-right-image img:nth-child(5) {
  z-index: 1;
  right: 24%;
  top: 8px;
}

.services-right-image img:nth-child(6) {
  left: 29%;
  top: 0;
  z-index: 1;
}

.services-right-image img:nth-child(7) {
  right: 44%;
  top: -78px;
  z-index: 1;
}

.services-right-image img:nth-child(8) {
  right: 30%;
  top: -134px;
  z-index: 1;
}

.services-right-image img:nth-child(9) {
  right: 31%;
  top: -21px;
  z-index: 1;
}

.services-right-image img:nth-child(10) {
  right: 24%;
  top: -80px;
}

.services-right-image img:nth-child(11) {
  left: 27%;
  top: -60px;
  z-index: 2;
}

.services-right-image img:nth-child(12) {
  right: 28%;
  z-index: 1;
  top: -54px;
}

.services-right-image img:nth-child(13) {
  left: 31%;
  top: -105px;
  z-index: 1;
}

.services-right-image img.bg-image {
  top: -262px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.services-right-image img:last-child {
  display: none;
}

.services-right-image.single-right-image img {
  display: block;
}

.services-right-image.single-right-image img:first-child {
  top: -60px;
}

.services-right-image.single-right-image img:last-child {
  position: relative;
  left: 0;
  top: 0;
}

.services-left-image {
  position: relative;
}

.services-left-image img {
  position: absolute;
}

.services-left-image img:nth-child(1) {
  left: 15%;
  top: -98px;
}

.services-left-image img:nth-child(2) {
  left: 0;
  top: -200px;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.services-left-image img:nth-child(3) {
  left: 36%;
  z-index: 12;
  top: -55px;
}

.services-left-image img:nth-child(4) {
  left: 55px;
  top: -38px;
  z-index: 1;
}

.services-left-image img:nth-child(5) {
  z-index: 3;
  right: 26%;
  top: -66px;
}

.services-left-image img:nth-child(6) {
  right: 19%;
  top: -41px;
  z-index: 2;
}

.services-left-image img:nth-child(7) {
  right: 97px;
  top: 40px;
  z-index: 1;
}

.services-left-image img:nth-child(8) {
  right: 23%;
  top: -175px;
  z-index: 2;
}

.services-left-image img.bg-image {
  top: -262px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.services-left-image img:last-child {
  display: none;
}

.services-left-image.single-left-image img {
  display: block;
}

.services-left-image.single-left-image img:first-child {
  top: -60px;
}

.services-left-image.single-left-image img:last-child {
  position: relative;
  left: 0;
  top: 0;
}

.single-services-box {
  position: relative;
  background: #ffffff;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box h3 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.single-services-box .icon {
  text-align: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: #cdf1d8;
  border-radius: 50%;
  color: #1a80ce;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box .icon.bg-c679e3 {
  color: #c679e3;
  background: #edc3fc;
}

.single-services-box .icon.bg-eb6b3d {
  color: #eb6b3d;
  background: rgba(235, 107, 61, 0.3);
}

.single-services-box::before,
.single-services-box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background: #1a80ce;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box::before {
  left: 0;
}

.single-services-box::after {
  right: 0;
}

.single-services-box:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.single-services-box:hover .icon {
  background: #1a80ce;
  color: #ffffff;
}

.single-services-box:hover .icon.bg-c679e3 {
  background: #c679e3;
}

.single-services-box:hover .icon.bg-eb6b3d {
  background: #eb6b3d;
}

.single-services-box:hover::after,
.single-services-box:hover::before {
  opacity: 1;
  visibility: visible;
  width: 50%;
}

.services-area-two {
  padding-bottom: 50px;
}

@media (max-width: 414px) {
  .home2-upper-right {
    margin: auto;
    justify-content: center;
    margin-bottom: 100px;
  }
}
