@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.home4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 620px;
  background-color: white;
  position: relative;
}
.home4-upper {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    z-index: 100;
  }
  .home4-upper-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
    justify-content: center;
    z-index: 100;
  }

  .home4-upper-right {
    display: flex;
    width: 55%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .home4-upper-right {
    width: 650px;
    height: 500px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    margin-top:50px;
    flex-direction: column;
  }
.background-image {
  width: 100%;
  height: 620px;
  align-items: center;
  margin: auto;
  z-index: 99;
}

.text-overlay {
  position: absolute;
  background-color: transparent;
  left: 18%;
  transform: translate(-50%,-250%);
  color: #fff;
  padding: 10px;
  z-index: 101;
}

.text-overlay h2 {
  margin: 0;
  width: 328px;
  height: 60px;
  font-weight: 700;
  font-size: 38px;
  color: #ffffff;
}

.text-overlay p {
  margin: 0;
  width: 344px;
  height: 37px;
  color: #fff9f9;
  font-weight: 500;
  font-size: 16px;
  line-height: 52px;
}

.home4-btn {
    width: 147px;
    height: 53px;
  background: #E7E7E7;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  border: none;
  margin-top: 20px;
  margin-right: 375px;
}

.home4-form {
  display: flex;
  flex-direction: row;
}

.first-part{
    flex-direction: row;
    display:flex;
}

.second-part{
  width:525px;
}

@media  (max-width: 414px) {
  .home4{
    margin-bottom: 60px;
  }
  .home4-upper{
   display: grid;
  }
  .home4-upper-right{
    display: grid;
    width:300px;
    height:400px;
    background-color: #fff;
  }
  .background-image{
    width:350px;
    height:400px;
  }
  .text-overlay {
    position: absolute;
    background-color: transparent;
    top: 350px;
    left: 220px;
    transform: translate(-50%,-250%);
    color: #fff;
    padding: 10px;
    z-index: 101;
  }
 .first-part{
  width:350px;
  padding: 20px;
  align-items: center;
  justify-content: center;
 }
 .second-part{
  width:350px;
  
 }
}


@media  (max-width: 1400px) {
  .home4-upper{
    display: flex;
    flex-direction: row;
   }
  .home4-upper-right{
    margin-left: 650px;
    margin-top: 20px;
  }
}
