@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* .container {
  width: 100%;
  height: 100%;
  display: flex;
  background: linear-gradient(
    270.21deg,
    rgba(0, 0, 0, 0.33) 55.67%,
    rgba(0, 0, 0, 0.33) 55.67%,
    rgba(0, 0, 0, 0.33) 99.82%,
    rgba(0, 0, 0, 0.33) 99.83%
  );
} */
.form-container {
  background-color: #fff;
 margin-top: 20px;
 margin-bottom: 20px;
}
.form-content {
  flex-direction: row;
  display: flex;
  width: 50vw;
  height: 111px;
  margin: auto;
  margin-left: 100px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 102;
}

.donate-form {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  /* width: 50vw; */
  /* height: 100vh; */
  /* background: linear-gradient(180deg, rgba(75, 211, 249, 0.36) 0%, rgba(75, 211, 249, 0.17) 100%); */
}

/* .logo-image {
  width: 254px;
  height: 225px;
} */

.donation-button {
    width: 100px;
    height: 43px;  
    padding: 10px;
    padding-left: 25px;
    border: 0cm;
    background-color: #EC6E46;
    font-size: 14px;
    display: flex;
    margin-top: 10px;
    color:white !important ;
    border-radius: 5px;
    margin-left: 30px;
    text-align: center;
    cursor: pointer;
   
  }

  .close-btn{
    text-decoration: none;
    /* margin-left:130px; */
    font-size:16px;
    background: white;
    border:none;
    /* margin-bottom: 30px; */
    cursor: pointer;
  }

  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    /* align-items: center;
    z-index: 1; */
    align-items: flex-start; 
    z-index: 9999; 
  
  }
  
  .modal-content {
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
  }

  @media (max-width: 768px) {
    /* Styles for screens wider than 768px */
    div[style*="display: flex"] {
      flex-direction: column;
      /* width:100%; */
    }
  
    /* div[style*="display: flex"] > div:first-child {
      flex: 1;
      width:50%;
    } */
  
    div[style*="display: flex"] > div:last-child {
      margin-bottom: 20px;
    }
  }


  #donate.headroom {
    position: relative;
    width: 100%;
    /* z-index: 9999; */
    top: 0;
    left: 0;
    /* background-color: transparent; */
    background-color:#e3f9ff;
    -webkit-transition: .3s;
    transition: .3s;
    padding-top: 15px;
    max-width: 100%;
  }

  @media only screen and (max-width: 991px){
#donate {
   width:100%;
}
  }